<div class="container">

  <h4>Update</h4>
  <p class="text-muted">{{user.id}}</p>
  <hr>

  <form action="/auth/update" method="post">

    <!-- username -->
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" id="username" type="text" name="username" value="{{user.username}}" placeholder="Username">
    </div>

    <!-- email -->
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" id="email" type="email" name="email" value="{{user.email}}" placeholder="Email">
    </div>

    <!-- name -->
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" id="name" type="text" name="name" value="{{user.name}}" placeholder="Name">
    </div>

    <!-- Actions -->
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Update</button>
      <a href="/delete" class="btn btn-danger">Delete Account</a>
    </div>

  </form>

</div>
