<div class="container">
  {{#unless user}}
  <!-- no user -->
  <br>
  <div class="jumbotron">
    <h2>{{title}}</h2>
    <p class="lead">{{description}}</p>
    <a class="btn btn-primary btn-lg" href="/auth/login">login</a>
    <a class="btn btn-default btn-lg" href="/auth/register">register</a>
  </div>
  {{else}}
  <!-- user -->
  <h4>Home</h4>
  <p class="text-muted">{{user.id}}</p>
  <hr>
  {{/unless}}
</div>
