<div class="container">

  <div class="row">

    <div class="col-md-12">

      <h4>User</h4>
      <span class="text-muted">{{account.id}}</span>
      <hr>

      <h1>{{account.username}}</h1>
    </div>

  </div>

  <div class="row">

    <div class="col-md-6">
      <p class="lead"><i class="glyphicon glyphicon-user"></i> {{account.name}}</p>
    </div>

    <div class="col-md-6">
      <p class="lead"><i class="glyphicon glyphicon-envelope"></i> {{account.email}}</p>
    </div>

  </div>

</div>
